[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
python-dotenv = "*"
langchain-openai = "*"
langchain-community = "*"
tiktoken = "*"
chromadb = "*"
matplotlib = "*"
pyboxen = "*"
langsmith = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
